.popBody {
    height: 100vh;
    width: 100vw;
    top: -700px;
    bottom: 0;
    left: 50%;
    right: 0;
    /* background: #d3817e; */
    opacity: 1;
    position: relative;
}

.popUp {
    position: absolute;
    background: #F6655F;
    height: 60%;
    padding: 15px;
    font-family: 'poppins' serif;
}

.closeIcon {
    display: flex;
    justify-content: end;
}

.closeIcon button {
    background: none;
    border: none;color: #fff;
    font-size: 20px;
    font-weight: bold;
}

svg {
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
}

.popCard {
    margin: 50px 0 20px;
    border-radius: 20px;
    background: #EB5757;
    color: #fff;
    padding: 15px;
}

.timeHead {
    /* font-family: Poppins; */
    font-size: 18px;
    margin: 12px 0;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.selectTime {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.line {
    border-top: 1px solid #fff;
    width: 90%;
    height: 1px;
    margin: 0 auto;
}

.date {
    margin: 12px 18px;
    text-align: center;
    background: #F6655F;
    border-radius: 20px;
    padding: 6px 20px;
    font-weight: 600;
}

.form {
    margin: 15px 0;
}

.form p {
    font-size: 13px;
    margin: 10px 0;
}

.down {
    margin-top: 25px;
}

.box {
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    border-radius: 15px;
    height: 35px;
    width: 100%;
    color: #fff;
}

.bttn {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.searchButton {
    padding: 15px 30px;
    background: #F1908C;
    border-radius: 20px;
    font-family: "Poppins" serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    margin: 0 15px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    border: none;
}

@media screen and (min-width:768px) {
    .popCard {
        margin: 0 auto;
        width: 50%;
    }

    .line {
        width: 50%;
    }

    .popUp {
        width: 70%;
        margin: 0 auto;
    }
}