.newBloodSection {
  position: relative;
}

.imageContainer {
  width: 100%;
}

.heroImg {
  width: 100%;
}

.textContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.heroText {
  position: absolute;
  font-family: "Poppins" serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 80px;
  color: #f6655f;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.donorLo {
  line-height: 27px;
}

.drop {
  background: url(../images/Group130.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  /* position: relative; */
  padding: 17px;
}
