/* ======
Small screen orientation
======= */
@media screen and (max-width: 768px) {
  .hero-right .front img {
    width:30%;
    position: absolute;
    margin-top: 50px;
    margin-left: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-right .front img {
    width: 25%;
    position: absolute;
    margin-top: 32px;
    margin-left: 151px;
  }
}

.drop {
  background: url(../images/Group130.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  /* position: relative; */
  padding: 10px;
}

.work-guide ul {
  list-style-image: url(../images/list-icon.png);
}
