:root {
  --primary-bckgrd: #F6655F;
  --light-bckgrd: #FCC0BD;
  --drk-red-bckgrd: #EB5757;
  --primary-font-size: 16px;
  --first-font: 'Orbitron', sans-serif;
  --second-font: 'Poppins', sans-serif;
}

/* ========
the header
========= */
.logo {
  width: 115px;
  height: 70px;
  padding: 5px;
}

.icon svg {
  font-size: 32px;
  color: #F6655F;
}