@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600&family=Poppins:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bckgrd: #f6655f;
  --light-bckgrd: #fcc0bd;
  --drk-red-bckgrd: #eb5757;
  --primary-font-size: 16px;
  --first-font: "Orbitron", sans-serif;
  --second-font: "Poppins", sans-serif;
  --supplemet: rgb(231, 188, 186, 0.5);
}

body {
  /* background-color: #f5f8fa; */
}

.App {
  flex: 1;
  flex-direction: column;
  font-family: var(--second-font);
  max-width: 1440px;
  margin-inline: auto;
}

body {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.swal2-container {
  z-index: 7;
}

.css-79ws1d-MuiModal-root {
  z-index: 6;
}

.link {
  text-decoration: none;
  color: inherit;
}

.swal2-popup {
  width: 24em !important;
  max-width: 100%;
}

.swal2-styled.swal2-confirm {
  background-color: #7fcc52 !important;
}
