* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bckgrd: #f6655f;
  --light-bckgrd: #fcc0bd;
  --drk-red-bckgrd: #eb5757;
  --primary-font-size: 16px;
  --first-font: "Orbitron", sans-serif;
  --second-font: "Poppins", sans-serif;
}

.App {
  flex: 1;
  flex-direction: column;
}
